extends layout

block content
  // ##### Breadcrumb Area Start #####
  .breadcrumb-area
    // Top Breadcrumb Area
    .top-breadcrumb-area.bg-img.bg-overlay.d-flex.align-items-center.justify-content-center(style='background-image: url(img/bg-img/bp3.JPG);')
      //- h2 Shop
    .container
      .row
        .col-12
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#')
                  i.fa.fa-home
                  |  홈
              li.breadcrumb-item.active(aria-current='page') 판매상품
  // ##### Breadcrumb Area End #####
  // ##### Shop Area Start #####
  section.shop-page.section-padding-0-100
    .container
      //- .row
      //-   // Shop Sorting Data
      //-   .col-12
      //-     .shop-sorting-data.d-flex.flex-wrap.align-items-center.justify-content-between
      //-       // Shop Page Count
      //-       .shop-page-count
      //-         p Showing 1&ndash;9 of 72 results
      //-       // Search by Terms
      //-       .search_by_terms
      //-         form.form-inline(action='#' method='post')
      //-           select.custom-select.widget-title
      //-             option(selected='') Short by Popularity
      //-             option(value='1') Short by Newest
      //-             option(value='2') Short by Sales
      //-             option(value='3') Short by Ratings
      //-           select.custom-select.widget-title
      //-             option(selected='') Show: 9
      //-             option(value='1') 12
      //-             option(value='2') 18
      //-             option(value='3') 24
      .row
        // Sidebar Area
        .col-12.col-md-4.col-lg-3
          .shop-sidebar-area
            // Shop Widget
            //- .shop-widget.price.mb-50
            //-   h4.widget-title Prices
            //-   .widget-desc
            //-     .slider-range
            //-       .slider-range-price.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(data-min='8' data-max='30' data-unit='$' data-value-min='8' data-value-max='30' data-label-result='Price:')
            //-         .ui-slider-range.ui-widget-header.ui-corner-all
            //-         span.ui-slider-handle.ui-state-default.ui-corner-all.first-handle(tabindex='0')
            //-         span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex='0')
            //-       .range-price Price: $8 - $30
            // Shop Widget
            .shop-widget.catagory.mb-50
              h4.widget-title 카테고리 별 보기
              .widget-desc
                // Single Checkbox
                .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
                  input#customCheck1.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck1')
                    | 모든 상품 
                    span.text-muted (72)
                // Single Checkbox
                .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
                  input#customCheck2.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck2')
                    | 40점 이상
                    span.text-muted (20)
                // Single Checkbox
                .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
                  input#customCheck3.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck3')
                    | 30 - 40 점
                    span.text-muted (15)
                // Single Checkbox
                .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
                  input#customCheck4.custom-control-input(type='checkbox')
                  label.custom-control-label(for='customCheck4')
                    | 20 - 30 점
                    span.text-muted (20)
                // Single Checkbox
                //- .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
                //-   input#customCheck5.custom-control-input(type='checkbox')
                //-   label.custom-control-label(for='customCheck5')
                //-     | Potted 
                //-     span.text-muted (15)
                // Single Checkbox
                //- .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
                //-   input#customCheck6.custom-control-input(type='checkbox')
                //-   label.custom-control-label(for='customCheck6')
                //-     | Others 
                //-     span.text-muted (2)
            // Shop Widget
            //- .shop-widget.sort-by.mb-50
            //-   h4.widget-title Sort by
            //-   .widget-desc
            //-     // Single Checkbox
            //-     .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
            //-       input#customCheck7.custom-control-input(type='checkbox')
            //-       label.custom-control-label(for='customCheck7') New arrivals
            //-     // Single Checkbox
            //-     .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
            //-       input#customCheck8.custom-control-input(type='checkbox')
            //-       label.custom-control-label(for='customCheck8') Alphabetically, A-Z
            //-     // Single Checkbox
            //-     .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
            //-       input#customCheck9.custom-control-input(type='checkbox')
            //-       label.custom-control-label(for='customCheck9') Alphabetically, Z-A
            //-     // Single Checkbox
            //-     .custom-control.custom-checkbox.d-flex.align-items-center.mb-2
            //-       input#customCheck10.custom-control-input(type='checkbox')
            //-       label.custom-control-label(for='customCheck10') Price: low to high
            //-     // Single Checkbox
            //-     .custom-control.custom-checkbox.d-flex.align-items-center
            //-       input#customCheck11.custom-control-input(type='checkbox')
            //-       label.custom-control-label(for='customCheck11') Price: high to low
            // Shop Widget
            //- .shop-widget.best-seller.mb-50
            //-   h4.widget-title Best Seller
            //-   .widget-desc
            //-     // Single Best Seller Products
            //-     .single-best-seller-product.d-flex.align-items-center
            //-       .product-thumbnail
            //-         a(href='shop-details.html')
            //-           img(src='img/bg-img/4.jpg' alt='')
            //-       .product-info
            //-         a(href='shop-details.html') Cactus Flower
            //-         p $10.99
            //-         .ratings
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-     // Single Best Seller Products
            //-     .single-best-seller-product.d-flex.align-items-center
            //-       .product-thumbnail
            //-         a(href='shop-details.html')
            //-           img(src='img/bg-img/5.jpg' alt='')
            //-       .product-info
            //-         a(href='shop-details.html') Tulip Flower
            //-         p $11.99
            //-         .ratings
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-     // Single Best Seller Products
            //-     .single-best-seller-product.d-flex.align-items-center
            //-       .product-thumbnail
            //-         a(href='shop-details.html')
            //-           img(src='img/bg-img/34.jpg' alt='')
            //-       .product-info
            //-         a(href='shop-details.html') Recuerdos Plant
            //-         p $9.99
            //-         .ratings
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
            //-           i.fa.fa-star
        // All Products Area
        .col-12.col-md-8.col-lg-9
          .shop-products-area
            .row
              each product in products
                // Single Product Area
                .col-12.col-sm-6.col-lg-4
                  .single-product-area.mb-50
                    // Product Image
                    .product-img
                      a(href='/products/'+product.id)
                        img(src=product.images[0] alt='')
                      //- .product-meta.d-flex
                      //-   a.wishlist-btn(href='#')
                      //-     i.icon_heart_alt
                      //-   a.add-to-cart-btn(href='cart.html') 상세 페이지
                        //- a.compare-btn(href='#')
                        //-   i.arrow_left-right_alt
                    // Product Info
                    .product-info.mt-15.text-center
                      a(href='shop-details.html')
                        p #{product.name}
                      h6 #{product.grade} 점
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='/product-detail')
                      img(src='img/bg-img/40.png' alt='')
                    // Product Tag
                    .product-tag
                      a(href='#') 추천
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='/') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/41.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/42.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/43.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/44.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/45.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/46.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/47.png' alt='')
                    // Product Tag
                    .product-tag.sale-tag
                      a(href='#') Sale
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
              // Single Product Area
              //- .col-12.col-sm-6.col-lg-4
                .single-product-area.mb-50
                  // Product Image
                  .product-img
                    a(href='shop-details.html')
                      img(src='img/bg-img/48.png' alt='')
                    .product-meta.d-flex
                      a.wishlist-btn(href='#')
                        i.icon_heart_alt
                      a.add-to-cart-btn(href='cart.html') 상세 페이지
                      //- a.compare-btn(href='#')
                      //-   i.arrow_left-right_alt
                  // Product Info
                  .product-info.mt-15.text-center
                    a(href='shop-details.html')
                      p Cactus Flower
                    h6 $10.99
            // Pagination
            nav(aria-label='Page navigation')
              ul.pagination
                if parseInt(page)-1 === 0
                  li.page-item
                    a.page-link(href='/products?page='+numPages)
                      i.fa.fa-angle-left
                else
                  li.page-item
                    a.page-link(href='/products?page='+(parseInt(page)-1))
                      i.fa.fa-angle-left
                - let n = 1;
                while n <= numPages
                  if n === parseInt(page)
                    li.page-item
                      a.page-link.active(href='/products?page='+n)= n++
                  else
                    li.page-item
                      a.page-link(href='/products?page='+n)= n++
                //- li.page-item
                //-   a.page-link(href='#') 1
                //- li.page-item
                //-   a.page-link(href='#') 2
                if parseInt(page) === parseInt(numPages)
                  li.page-item
                    a.page-link(href='/products?page=1')
                      i.fa.fa-angle-right
                else
                  li.page-item
                    a.page-link(href='/products?page='+(parseInt(page)+1))
                      i.fa.fa-angle-right
                //- li.page-item
                //-   a.page-link(href='#')
                //-     i.fa.fa-angle-right
  // ##### Shop Area End #####
